section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}
.loader {
  margin: auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 100%;
}

.formDiv {
  height: 20rem;
}

.form label {
  font-size: 1.1rem;
}

.form input,
.form textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px groove gray;
  font-size: 1rem;
}
.form input {
  padding: 4px;
  font-size: 1rem;
}

.form textarea {
  height: 5rem;
}
